flask==3.0.3
flask-cors==4.0.0
python-dotenv==1.0.1
ibm-watsonx-ai==1.1.2
requests==2.32.3
gunicorn==22.0.0
Werkzeug==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
click==8.1.7
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
urllib3==2.2.2
lomond==0.3.3
